<% questionsList.forEach(function(question) { %>
  <div class="questions-card card">
    <div class="card-body">
      <div class="question-title">
        <h4 class="question-title-text">
          <a href="/question/<%= question.title %>">
            <%= question.title %>
          </a>
        </h4>
      </div>

      <div class="question-info">
        <div class="difficulty-tag">
          <a href="/tag/<%= question.difficulty %>">
            <%= question.difficulty %>
          </a>
        </div>
        <div class="topics-tag">
          <% question.tags.forEach(function(topic) { %>
          <span class="topic">
            <a href="/category/<%= topic %>"><%= topic %></a>
          </span>
          <% }) %>
        </div>
      </div>

      <div class="question-description">
        <%= question.explanation %>
      </div>
    </div>
  </div>
<% }); %>
