<% for(let i = 0; i < questionsList.length; i++) { %>
  <div class="questions-card card">
    <div class="card-body">
      <div class="question-title">
        <h4 class="question-title-text">
          <a href="/question/<%= questionsList[i].title %>">
            <%= questionsList[i].title %>
          </a>
        </h4>
      </div>

      <div class="question-info">
        <div class="difficulty-tag">
          <a href="/tag/<%= questionsList[i].difficulty %>" style="background-color: <%= backgroundColors[i] %>;">
            <%= questionsList[i].difficulty %>
          </a>
        </div>
        <div class="topics-tag">
          <% questionsList[i].tags.forEach(function(topic) { %>
          <span class="topic">
            <a href="/category/<%= topic %>"><%= topic %></a>
          </span>
          <% }) %>
        </div>
      </div>

      <div class="question-description">
        <%= questionsList[i].explanation %>
      </div>
    </div>
  </div>
<% } %>
