<%- include("partials/header"); -%>
  <div class="heading">
    <h1>
      <%= categoryName %>
    </h1>
  </div>

  <div class="questions-list">
    <%- include("partials/questionsList"); -%>
  </div>
  <%- include("partials/pagination"); -%>
    <%- include("partials/footer"); -%>